@model QuirkCart.Models.tbl_user
@{
    Layout = null;
}

<style>
    *{
        font-family: Poppins;
    }

    #box {
        border: 1px solid black;
        height: 100%;
    }

    #main-div {
        background-size: 100% 900px;
    }

    .insidebox h1 {
        color: black;
        font-weight: 600;
    }

    .insidebox {
        border: 0px solid black;
        margin: 10% auto 10% auto;
        max-width: 500px;
        min-width: 200px;
        padding-left: 60px;
        padding-right: 60px;
        border-radius: 10px;
        background-color: white;
    }

    .input-group-addon {
        background-color: #f3f1ff !important;
        border: 0px !important;
    }

    .form-control {
        background-color: #f3f1ff !important;
        border: 0px !important;

    }

    div h1 {
        text-align: center;
    }

    p#para {
        text-align: center;
        font-size: 14px;
    }

    .btn-purple-moon {
        background: #4e54c8;
        background: -webkit-linear-gradient(to right, #8876f3, #5942ee);
        background: linear-gradient(to right, #8876f3, #5942ee);
        color: #fff;
        border-radius: 15px !important;
        padding: 12px 20px !important;
        margin-top: 10px;
        font-weight:700;
    }

    input[type="file"] {
        display: none !important;
    }

    .custom-file-upload {
        border-radius: 7px;
        display: inline-block;
        padding: 10px 15px;
        cursor: pointer;
        background-color: #f3f1ff;
        font-weight: 500;
    }

        .custom-file-upload:hover {
            background-color: #aea0ff;
            color: white;
        }

        .btn-purple-moon:hover {
            color: white !important;
        }

    btn:focus {
        outline: none;
    }
</style>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />




<script src="js/bootstrap.min.js"></script>
<script src="http://code.jquery.com/jquery.js"></script>
<div id="main-div">
    <div id="box" class="img-responsive">
        @using (Html.BeginForm("SignUp",
                        "User",
                        FormMethod.Post,
                        new { enctype = "multipart/form-data" }))
        {
            <div class="insidebox">
                <div> <h1>SIGNUP</h1></div>




                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                        @*<asp:TextBox ID="TextBox1" runat="server" class="form-control" placeholder="Username" required="required"></asp:TextBox>*@
                        @Html.TextBoxFor(x => x.u_name, new { @class = "form-control", @placeholder = "Username" })

                    </div>
                    <span style="color:red">   @Html.ValidationMessageFor(x => x.u_name) </span>

                </div>


                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></div>
                        @*<asp:TextBox ID="TextBox1" runat="server" class="form-control" placeholder="Username" required="required"></asp:TextBox>*@
                        @Html.TextBoxFor(x => x.u_email, new { @class = "form-control", @placeholder = "Email" })

                    </div>
                    <span style="color:red">   @Html.ValidationMessageFor(x => x.u_email) </span>

                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-eye-close"></span></div>
                        @*<asp:TextBox ID="TextBox1" runat="server" class="form-control" placeholder="Username" required="required"></asp:TextBox>*@
                        @Html.PasswordFor(x => x.u_password, new { @class = "form-control", @placeholder = "Password" })

                    </div>
                    <span style="color:red">   @Html.ValidationMessageFor(x => x.u_password) </span>

                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-earphone"></span></div>
                        @*<asp:TextBox ID="TextBox1" runat="server" class="form-control" placeholder="Username" required="required"></asp:TextBox>*@
                        @Html.TextBoxFor(x => x.u_contact, new { @class = "form-control", @placeholder = "Phone" })

                    </div>
                    <span style="color:red">   @Html.ValidationMessageFor(x => x.u_contact) </span>

                </div>


                <div class="form-group" style="background-color: transparent !important">
                    <div class="input-group" style="display:flex; justify-content: center">
                        <label for="imgfile" class="custom-file-upload">
                            <input type="file" name="imgfile" id="imgfile" class="form-control" required="required" />    Upload Your Image
                        </label>
                    </div>


                </div>



                <div class="form-group" style="display:flex; justify-content:center">

                    <input type="submit" value="SignUp as a User" id="userimg" class="btn btn-purple-moon" />

                </div>

                <div class="form-group">
                    <p style="color:red">@ViewBag.error</p>
                </div>



            </div>

        }
    </div>

</div>


<script src="~/Scripts/jquery.validate-vsdoc.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
